
/* Colors
 Forest Green -  #2F362F
 Sage - #52584D
 Ivory -  #EFEBE9
 Celadon - #9AB19A */

 html {
    font-family: "fjalla one", sans-serif;
    font-size: 16px;
    font-size: 22px;
    color: #2F362F;
    background-color: #EFEBE9;
    text-align: center;
  }

h1,h2,h3,h4 {
    font-family: "canterell", sans-serif;
    margin: 0;
}
  
                    /* Nav */


Nav {
    display:flex;
    padding: 10px;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: #52584D;
    color: #EFEBE6;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid  #9AB19A;
    top: 0;
}

.nav-left {
    display: flex;
    justify-content :space-evenly 
} 

.nav-left img,h2 {
    padding: .75rem;
}

ul{
    display: inline-flex;
    list-style-type: none;
    margin-right: 2rem;

}

li {
    margin: 10PX;
    padding-left: 10PX;
    
}

a {
    color: #EFEBE9;
}

a:hover {
    color: #9AB19A;
    text-decoration: underline;
}

h2.nav-title{
    padding-right: 0;
    margin-right: 0;
}

.logo {
    width: 2rem;
    height: 2rem;
    padding: 0 ;
    margin: 0 ;
}


                /* Header */

header {
    margin-top: 150px;
    background-image: url("./Resources/images/glasses-eyecatching-2.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 1200px;
    justify-content: center;
    align-self: center;
    opacity: .9;
    display: inline-flex;

}

header h1 {
    align-self: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 0;
    line-height: 1.75rem;
    background-color:#EFEBE9;
    color: #2F362F;
    font-weight: bolder;
    font-size: 60px;
}


        /* secondary nav */

.frames-nav {
    border-radius: 25%;
    background-color: #2F362F;
    color: #9AB19A;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    justify-self: center;
    margin: 1rem auto;
    padding: 10px;
    text-decoration: underline;
}
#throwing-shade {
    font-style: italic;
}

      /* Featured Section */


.container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
    padding: 1.5rem;
    justify-content: space-around;
}

.featured-img {
    max-width: 400px;
    height: 300px;
    padding-bottom: .7rem;
}

.featured-section {
    padding: 1rem;

}

span {
    float: right;
}
figcaption {
    text-align: left;
} 


      /* About/News Section  */

      .grid {
          display: grid;
          height: 500px;
          width: 1200px;
          grid-template: 1fr/1fr 1fr;
          margin: 0 auto;
          border-top: #2F362F solid 80px;
          
}

.grid h2,h3 {
         margin-top: 1.5rem;          
}
.grid a {
    color: #2F362F;
    text-decoration: underline;
}
.grid a:hover{
    color: #9AB19A;
    
}

.about {
    grid-area: 1/1/1/2;
    border-right: #2F362F solid 1px;
    line-height: 1.6rem;
}

.news {
    line-height: 1.6rem;
}

.founder-photo,.moms-spaghetti-photo{
        height: 150px;
        margin-top: 30px;
        margin-bottom: 15px;
}

.moms-spaghetti-button{
    color: #2F362F;
    text-decoration: underline;
}





       /* footer */

       .social-media{
           display: flex;
           justify-content: center;
       }

       .social-media p{
           padding: 1rem;
           
       }

       footer h3{
           padding: 1rem;
           margin-top: 10px;
       }
footer span {
    float: none;
} 

footer a {
    padding-right: .4rem;
    color: #2F362F;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2rem;
}